<h1><%= @product.title%> </h1>
<p><%= @product.description%></p>
<small>$<%= format("%.2f",@product.price)%></small>
<div>

<small>
    <%= link_to("Delete", product_path(@product.id) ,method: :delete, data:{confirm:"Are you sure?"}) %>
</small>
<small>
    <%= link_to("Edit", edit_product_path(@product.id)) %>
</small>
<h5> Created by <%= @product.user.full_name%>
</h5>
</div> 
<ul>
    <% @reviews.each do |review| %>
        <li>
            <%= review.body %>
            <%= review.rating %>
            <small>
            <%= link_to("Delete", product_review_path(@product.id, review) ,method: :delete, data:{confirm:"Are you sure?"}) %>
            </small>
            <h5> Reviewed by <%= review.user.full_name%>
            </h5>
        </li>
    <% end %>
</ul>

<ul>
<% if @review.errors.any? %>
    <% @review.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
    <% end %>
<% end %>
</ul>
<%= form_with(model: [@product, @review]) do |form|%>
<div>
    <%= form.label :body%>
    <%= form.text_area :body%>
</div>
<div>
    <%= form.label :rating%>
    <%= form.text_field :rating%>
</div>
<%= form.submit %>
<% end %>